<!DOCTYPE html>
<html lang="en" ng-app="springChat">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Hello WS</title>
</head>

<body>

<div class="container" ng-controller="ChatController">

    <div class="row">
        <div class="col-xs-4">
            <h4>Participants [{{participants.length}}]</h4>
            <div class="share">
                <ul ng-repeat="participant in participants">
                    <li>
                        <a href="" ng-click="privateSending(participant.username)">{{participant.username}}</a>

                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-8 chat-box">
            <h4>Messages</h4>
            <div ng-repeat="message in messages">
                <small print-message></small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <span><small>You will send this message to <strong>{{sendTo}}</strong> (click a participant name to send a private message)</small></span>
            <input id="newMessageInput" type="text" class="form-control"
                   placeholder="Write your message and hit enter..." ng-model="newMessage"
                   ng-keyup="$event.keyCode == 13 ? sendMessage() : startTyping()"/>
        </div>
    </div>
</div>


<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular-animate/angular-animate.min.js"></script>
<script src="lib/angularjs-toaster/toaster.js"></script>
<script src="lib/angularjs-scroll-glue/src/scrollglue.js"></script>
<script src="lib/sockjs/sockjs.min.js"></script>
<script src="lib/stomp/lib/stomp.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<!-- App -->
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/services.js"></script>
<script src="js/directives.js"></script>


</body>

</html>